<div class="section pt-5 pb-5 full-width">
    {{ drupal_block('top_20_songs_block') }}
</div>
<div class="section pt-5 pb-5">
    {{ drupal_block('views_block:discover_random_artists-block_1') }}
</div>
